Faat.Client/Service References/FaatServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FaatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Tcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="Http_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFaatService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFaatService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFaatService_SetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="IFaatService_SetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFaatService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IFaatService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IFaatService_PingServer_InputMessage">
    <wsdl:part name="parameters" element="tns:PingServer" />
  </wsdl:message>
  <wsdl:message name="IFaatService_PingServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingServerResponse" />
  </wsdl:message>
  <wsdl:message name="IFaatService_OnDataChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDataChanged" />
  </wsdl:message>
  <wsdl:message name="IFaatService_OnDataChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDataChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IFaatService_PingClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingClient" />
  </wsdl:message>
  <wsdl:message name="IFaatService_PingClient_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IFaatService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaatService/GetData" message="tns:IFaatService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaatService/GetDataResponse" message="tns:IFaatService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaatService/SetData" message="tns:IFaatService_SetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaatService/SetDataResponse" message="tns:IFaatService_SetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaatService/Subscribe" message="tns:IFaatService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaatService/SubscribeResponse" message="tns:IFaatService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaatService/PingServer" message="tns:IFaatService_PingServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaatService/PingServerResponse" message="tns:IFaatService_PingServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnDataChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IFaatService/OnDataChanged" message="tns:IFaatService_OnDataChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFaatService/OnDataChangedResponse" message="tns:IFaatService_OnDataChanged_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IFaatService/PingClient" message="tns:IFaatService_PingClient_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFaatService/PingClientResponse" message="tns:IFaatService_PingClient_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Tcp" type="tns:IFaatService">
    <wsp:PolicyReference URI="#Tcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/SetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingServer">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/PingServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataChanged">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/OnDataChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingClient">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/PingClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Http" type="tns:IFaatService">
    <wsp:PolicyReference URI="#Http_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/SetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingServer">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/PingServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataChanged">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/OnDataChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingClient">
      <soap12:operation soapAction="http://tempuri.org/IFaatService/PingClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaatService">
    <wsdl:port name="Tcp" binding="tns:Tcp">
      <soap12:address location="net.tcp://localhost:4444/Faat" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4444/Faat</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="Http" binding="tns:Http">
      <soap12:address location="http://localhost/Faat" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Faat</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>